<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <style>

/* success animation */
@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
     .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .circle {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
    }   
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    0%, 100% { stroke-opacity: 1; }
    100% { stroke-dashoffset: 0; }
}


      body{
        font-family: 'Ubuntu', sans-serif;
        /* width: 100vw; */
        width: 300px;
        margin: 0px;
        border: 0px;
        height: 100vh;
        box-sizing: border-box;
       }

      .wrapper-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
      }

      button {
        max-width: '90%'; 
        width: 250px; 
        height: 60px; 
        border-radius: 4px;
        
      }


      .top-container{
        margin-top: 15px;
        width: '150px';
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: flex-start;
        align-items: center;
      }

      .img-container{
        width: 100px;
        height: 90px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      img{
        border-radius: 5px;
        width: 100px;
        object-fit:contain;
      }

      .title-container{
        margin: 10px;
      }

      .title-container > p{
        font-size: 11px;
        line-height: 5px;
      }

      .header-text{
        font-size: 17px;
      }

      .content-container{
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex:1;
        width: 100%;
        flex-direction: column;
      }

      .content-container-top{
        flex: 1;
        margin: 20px;
        font-size: 14px;

      }

      .content-container-bottom{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        font-size: 12px;
        align-self: flex-start;
      }

      .bottom-container{
        display: flex;
        align-items: center;
        width: 100vw;
        position: sticky;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 1px -4px 13px -3px rgba(0,0,0,0.44);
-webkit-box-shadow: 1px -4px 13px -3px rgba(0,0,0,0.44);
-moz-box-shadow: 1px -4px 13px -3px rgba(0,0,0,0.44);
      }

      #rzp-button1{
        /* height: 55px; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin:auto;
        font-size: 22px;
        font-weight: 800;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        letter-spacing: 1px;
        height: 50px;
        border: none;
        box-shadow: -3px 20px 19px -2px rgba(138, 138, 138, 0.205);
        -webkit-box-shadow: -3px 20px 19px -2px rgba(138, 138, 138, 0.247);
        -moz-box-shadow: -3px 20px 19px -2px rgba(138, 138, 138, 0.185);
        margin: 20px;
        margin-top: 10px;
        /* background-color: #FF4C00; */
      }
      
      
      #go-to-home-button{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        letter-spacing: 1px;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        /* margin: 10px; */
        box-shadow: 0px -2px 44px -2px rgba(0,0,0,0.17);
-webkit-box-shadow: 0px -2px 44px -2px rgba(0,0,0,0.17);
-moz-box-shadow: 0px -2px 44px -2px rgba(0,0,0,0.17);
        background-color: #06801d;
        /* background-color: #FF4C00; */

      }

      #go-to-home-button{
        margin-top: 40px;
      }

      #rzp-button1:hover{
        opacity: 0.5;
      }

      #go-to-home-button:hover{
        opacity: 0.5;
      }

      .success-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background: #EBF0F5;
      }

      #success-main{
        display: none;
      }

      #wait-main{
        display: none;
      }

      .success-h1 {
        color: #88B04B;
        font-family: 'Ubuntu', sans-serif; 
        font-weight: 900;
        font-size: 40px;
      }
      .success-p {
        color: #404F5E;
        font-family: 'Ubuntu', sans-serif; 
        margin-left: 20px;
        margin-right: 20px;
        font-size:15px;
        margin: 0;
      }

      .success-i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .success-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100vw;
        height: 100vh;
        /* background: #FF4C00; */
        background-color: #4BB543;
        display: inline-block;
        margin: 0;
      }

      .success-message-p {
        text-align: center; 
        margin: 20px; 
        color: white;
        font-size: 1.1em;
        font-weight: 600;
      }

      .success-details-p {
        text-align: center; 
        margin: 20px; 
        font-size: 0.7em;
        color: white;
      }

      .header-container{
        /* background-color: rgb(148, 148, 148); */
        background-color: #FF4C00;
        flex-Direction: row;
        align-Items: center;
        width: 100%;
        position: sticky;
        top:0;
        left: 0;
      }

      .header-container > h5{
        text-align: center;
        padding-top: 30px;
        color: white;
        font-weight: 800;
      }

      .svg-container{
        margin-top: 80px;
      }

    </style>
    <script type="text/javascript">

      function handleSubmit(event) {
        console.log('hai')
        event.preventDefault();
        const data = new FormData(event.target);
        const value = Object.fromEntries(data.entries());
          console.log({ value });
        } 
      
    </script>
</head>
<body>

  <div class="wrapper-container" id="success-main">
    <div class="success-container">
      <div class="success-card">
        <div>
          <div class="svg-container">    
            <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
                <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
                <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
            </svg>
        </div>

          <p class="success-p" id="success-message"></p>
        </div>
        <button id="go-to-home-button">Go To Home</button>
      </div>
    </div>
  </div>

  <div class="wrapper-container" id="main">
    <div class="header-container">
      <h5>Order Details</h5>
    </div>
    <div class='top-container'>
      <div class='img-container'>
        <img src="<%= imgUrl %>">
        </img>
      </div>
      <div class="title-container">
        <h1 class="header-text"> <%=notes.productName %> </h1>
        <p><b>Goal: </b><%=goal%></p>
        <p><b>Level: </b><%=level%></p>
      </div>
    </div>

      <div class="content-container">

        <div class="content-container-top">
          <p><%-productDescription%></p>
        </div>

      </div>

      <div class="bottom-container">
        <div class="content-container-bottom">
          <p><b>Duration:</b> <%= duration %> weeks</p>
          <p><b>Subscription Type:</b> <%= notes.planType %></p>
          <p><b>Payable amount (incl. GST):</b> Rs. <%= amount/100%></p>
        </div>
        <button type="button" class="btn btn-success" id="rzp-button1">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>&nbsp;
          Pay Securely</button>
        <!-- <button id="jab">Just A Button</button> -->
      </div>
  </div>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>

    var options = {
        "key": "rzp_test_XvlgoOL0WFWEfn", // Enter the Key ID generated from the Dashboard
        "amount": "<%= amount %>", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "<%= name %>",
        "description": "<%= description %>",
        "image": "<%= imgUrl %>",
        "order_id": "<%= order_id %>", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            let payload = {
              rpResponse: response,
              receiptID: "<%= receiptID %>",
              batch: "<%= batch %>",
            }

            const setLoading = (() => {
              document.getElementById("main").innerHTML = 
              `<div class="success-container">
                <div style="display: flex; flex-direction: column; align-items: center; justifyContent: center;">
                  <div class="spinner-grow text-success" role="status" style="width: 60px; height: 60px;">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <br/>
                  <p style="margin: 25px; font-family: 'Ubuntu', sans-serif; font-size: 0.9rem;"">Please wait while verifying your payment. Please do not go back or exit...</p>
                <div>
              </div>`;
            })

            setLoading()
            fetch("<%= successHandlerUrl %>", {
              method: 'POST',
              headers:{'x-access-token': "<%= authToken %>", 'Content-Type': 'text/plain'},
              body: JSON.stringify(payload),
            })
            .then(response => response.json())
            .then((data) => {
              if(data.verificationStatus === 'success'){
                document.getElementById("success-message").innerHTML = data.message;
                document.getElementById("main").style.display = 'none';
                document.getElementById("success-main").style.display = 'block';
                window.ReactNativeWebView.postMessage("payment_success")
              }else{
                alert(data.message)
              }
            })

        },
        "prefill": {
            "name": "<%= userName %>",
            "email": "<%= userEmail %>",
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "<%= color %>"
        }
    };

    var rzp1 = new Razorpay(options);

    rzp1.on('payment.failed', function (response){
            alert("Payment Failed")
            alert(response.error.description);

            var payload = response.error 
            payload.receiptID= "<%= receiptID %>",
            payload.batch= "<%= batch %>",

            fetch("<%= failedHandlerUrl %>", {
              method: 'POST',
              headers:{'x-access-token': "<%= authToken %>", 'Content-Type': 'application/json'},
              body: JSON.stringify(payload),
            })
    });

    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }

  document.getElementById('go-to-home-button').onclick = function(e){
        window.ReactNativeWebView.postMessage("go_to_home")
      }
  </script>
</body>
</html>